.App {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(222, 222, 145);
}

.App nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

nav h1 {
  font-weight: 500;
  font-size: 32px;
}

.App .computers {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  padding-top: 20px;
}

.computers h2 {
  cursor: pointer;
  font-weight: 500;
  transition: .5s;
}

.computers h2:hover {
  color: rgb(15, 165, 165);
}

.computers h2:active {
  scale: .9;
}

.modal {
  width: 600px;
  height: 500px;
  background-color: rgb(191, 199, 198);
  position: absolute;
  top: 120px;
  left: 450px;
  border-radius: 24px;
  padding: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.modal h1 {
  font-weight: 400;
  text-align: center;
}

.modal img {
  width: 200px;
}

.modal p {
  text-align: justify;
  font-size: 16px;
}

.modal button {
  padding: 4px 16px;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: .5s;
}

.modal button:active {
  scale: .9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
}

.hidden {
  display: flex;
}